{{#if error}}
{{!-- Errors for passport authentication --}}
<div class="notification is-danger">
    <button class="delete"></button>
    {{error}}
</div>
{{/if}}

{{#each errors}}
<div class="notification is-danger">
    <button class="delete"></button>
    {{text}}
</div>
{{else}}
{{/each}}