{{#if success_msg}}
<div class="notification is-primary">
    <button class="delete"></button>
    {{success_msg}}
</div>
{{/if}}

{{#if error_msg}}
<div class="notification is-danger">
    <button class="delete"></button>
    {{error_msg}}
</div>
{{/if}}

