<!-- Layout is the main view wrapper around view. For example the head and html tags we do not need to add them everytime we render a view, thus layout will attach to the views -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <title>IdeasCRUD</title>
</head>

<body>
    <!-- Syntax to enter a partial-->
    {{> _navbar }}

    {{> _msg }}
    {{> _error }}
    {{{ body }}}

    <script>
        // For dismissible alert messages
        document.addEventListener('DOMContentLoaded', () => {
            (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                $notification = $delete.parentNode;

                $delete.addEventListener('click', () => {
                    $notification.parentNode.removeChild($notification);
                });
            });
        });
    </script>
</body>

</html>