.navbar {
    display: flex;
    justify-content: space-between;
}

.brand {
    flex: 1;
    background-color: #34495e;
}

.nav {
    flex: 4;
}

.nav a {
    text-decoration: none;
    color: #95a5a6;
    font-size: xx-large;
}

.nav a:hover {
    transition: ease 0.3s;
    text-decoration: none;
    color: black;
    font-size: xx-large;
}

.login-btns {
    background-color: #2ecc71;
    // padding: 1% 5% 1% 5%;
    // padding: 1%;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    // justify-content: space-around;
}

.signup-btn {
    background-color: #9b59b6;
    // margin: 5%;
}

.login-btn {
    background-color: #f1c40f;
    // margin: 5%;
}