<div class="columns">
    <div class="column is-1 left-section">
        
        <p>1/12th</p>
        
    </div>
    <div class="column is-7 main-section">
        <div class="container main-section-container">
            <h1 class="title">
                {{title}}
            </h1>
            <h2 class="subtitle">
                Create, read, update and delete your ideas
            </h2>

            <div class="container">
                <button class="button is-light"><a href="/ideas/add">Add idea</a></button>
                <button class="button is-light"><a href="/ideas">View Ideas</a></button>
            </div>
        </div>
    </div>
    <div class="column is-3 right-section">
        
            <p>
                3/12
            </p>

    </div>
</div>