<div class="jumbotron text-center">
    <h1 class="display-4">{{ title }}</h1>
    <p class="lead">Create, read, update and delete your ideas</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add idea</a>
</div>