<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                {{title}}
            </h1>
            <h2 class="subtitle">
                Create, read, update and delete your ideas
            </h2>
        </div>
        <div class="container">
            <button class="button is-light"><a href="/ideas/add">Add idea</a></button>
            <button class="button is-light"><a href="/ideas">View Ideas</a></button>
        </div>
    </div>
</section>