<div class="index">
    <div class="columns left-section">
        <i class="fas fa-home fa-3x"></i>
        <i class="far fwa-calendar-alt fa-3x"></i>
        <i class="fas fa-users fa-3x"></i>
        <i class="fas fa-trash fa-3x"></i>
    </div>
    <div class="columns main-section">
        <h1 class="title">
            {{title}}
        </h1>
        <h2 class="subtitle">
            Create, read, update and delete your ideas
        </h2>

        <div class="container">
            <button class="button is-light"><a href="/ideas/add">Add idea</a></button>
            <button class="button is-light"><a href="/ideas">View Ideas</a></button>
        </div>
    </div>
    <div class="columns right-section">
        <div class="avatar">
            <div class="welcome-avatar">
                <h5>Hello</h5>
                <h3>User</h3>
            </div>
            <img src="img/avatars/boy.svg" alt="Avatar">
        </div>
    </div>
</div>

{{!-- <div class="columns">
    <div class="column is-1">
        <aside class="left-section">
            <i class="fas fa-home fa-3x"></i>
            <i class="far fwa-calendar-alt fa-3x"></i>
            <i class="fas fa-users fa-3x"></i>
            <i class="fas fa-trash fa-3x"></i>
        </aside>

    </div>
    <div class="column is-7 main-section">
        <div class="container main-section-container">
            <h1 class="title">
                {{title}}
            </h1>
            <h2 class="subtitle">
                Create, read, update and delete your ideas
            </h2>

            <div class="container">
                <button class="button is-light"><a href="/ideas/add">Add idea</a></button>
                <button class="button is-light"><a href="/ideas">View Ideas</a></button>
            </div>
        </div>
    </div>
    <div class="column is-3 right-section">

        <p>
            3/12
        </p>

    </div>
</div> --}}