{{#each errors}}
<div class="alert alert-danger">{{ text }}</div>
{{else}}
{{/each}}

<div class="card card-body">
    <h3>Idea</h3>
    <form action="/ideas" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="title">Details</label>
            <textarea name="details" cols="30" rows="10" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>