{{#each ideas}}
<div class="card card-body mb-2">
    <h4>{{ title }}</h4>
    <p>{{ details }}</p>
    <a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
</div>

{{else}}
{{/each}}