<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Login</h3>
            <form action="">
                <div class="form-control">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" name="email">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Sign-in</button>
            </form>
        </div>
    </div>
</div>