<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Sign Up</h3>
            <form action="">
                <div class="form-control mb-2">
                    <label for="name">
                        Name
                    </label>
                    <input type="text" name="name" class="form-control">
                </div>
                <div class="form-control mb-2">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" name="email" class="form-control">
                </div>
                <div class="form-control mb-2">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <div class="form-control mb-2">
                    <label for="password2">Confirm password</label>
                    <input type="password" name="password2" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary" class="form-control">Sign-in</button>
            </form>
        </div>
    </div>
</div>