.index {
    display: flex;
    flex-wrap: wrap;
    height: 93vh;
}

.left-section {
    display: flex;
    flex-direction: column;
    // background-color: #34495e;
    width: 5vw;
    align-items: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 247, 250);
    flex-basis: 75vw;
    margin: 1vw;
    padding: 2vw;
    border-radius: 50px;
    // box-shadow: 5px 5px 4px å#c3c3c3;
}
.right-section {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    padding: 2vw;
    // justify-content: space-around;
    // background-color: #e67e22;
    flex: 1;
}

.avatar {
    display: flex;
    // flex-wrap: wrap-reverse;
    justify-self: center;
    height: 100px;
    width: 100px;
}
